body {
  padding: 0;
  margin: 0;
}

.background {
  background-image: url("/ui/images/window.jpg");
  background-size: cover;
  background-color: rgb(232, 255, 255);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}



.grid-container {
  background-color: rgb(26, 25, 25);
  border-radius: 20px;
  height: 95vh;
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-areas:
    "left top right"
    "left sky right"
    "left sky right"
    "left image right"
    "left bottom right";
  grid-template-columns: 2% 1fr 2%;
  grid-template-rows: 2% 1fr 1fr 1fr 2%;

  border: 5px black solid;

}
.window-image {
  grid-area: sky;
  width: 100%;
  height: 150%;
  overflow:visible;
}

.player-view {
 display: flex;
  grid-area: image;
  margin: 0;
}

.cockpit {
  width: 100%;
  height: 100%;
}

#map{
  width: 100%;
  height: 100%;
  content: center;
}

dialog{
  width: 60%;
  height: 60%;
}

dialog #left{
  color: red;
}