body {
  padding: 0;
  margin: 0;
}

.background {
  background-image: url("/ui/images/wood.jpg");
  background-color: aqua;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.grid-container {
  border-radius: 20px;
  border-color: black;
  box-shadow: 2px 2px 5px rgb(0, 0, 0), 10px 10px 15px rgb(0, 0, 0),
    -1px -1px 30px rgb(0, 0, 0);

  height: 95vh;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-areas:
    "sky"
    "sky"
    "sky"
    "image";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.window-image {
  grid-area: sky;
  width: 100%;
  height: 200%;
}

.player-view {
 display: flex;
  grid-area: image;
  margin: 0;
}

.cockpit {
  width: 100%;
  height: 100%;
}
